// COLORS
$c-black: #000000;
$c-gray: #7B7B7B;
$c-orange: #FD8061;
$c-white: #FFFFFF;
$c-text-gray: #565656;
$c-footer: #F4F4F4;

// Font
$f-Inter: 'Inter', sans-serif;
$f-Lobster: 'Lobster', cursive;

// Font size
$fs-base: 16;
$fs-h1: 64;
$fs-h2: 48;
$fs-subtitle:24;

// Letter spacing
$ls-base: 2;

// Transition
$t-normal: .35s cubic-bezier(.4,0,.2,1);

// Box Shadow
$bs-normal: 3px 4px 7px rgba($c-black, .1);