// COLORS
$c-black: #000000;
$c-gray: #7b7b7b;
$c-orange: #fd8061;
$c-white: #ffffff;
$c-text-gray: #565656;
$c-footer: #f4f4f4;

$c-item-gr: #e7f9fd00, #e7f9fd;
$c-iconHeart-gray: #dbe2e5;

$c-bg-sub: #e7f9fd;
$c-text-input: #00000066;
$c-text-footer: #00000099;
$c-line-footer: #0000001a;
$c-bubbles: #e7fafe;
$c-magenta: #e71dc6;
$c-chinese-black: #141414;
$c-purple-taupe: #4b3f4d;
$c-st-patrick-blue: #1a2470;
$c-royal-fuchsia: #c9208d;
$c-error: #d82a2a;

// Font
$f-Inter: "Inter", sans-serif;
$f-Lobster: "Lobster", cursive;

// Font size
$fs-base: 16;
$fs-h1: 64;
$fs-h2: 48;
$fs-subtitle: 24;

$fs-text-input-button: 14px;
$fs-text-footer: 18px;

// Letter spacing
$ls-base: 2;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box Shadow
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
