@import "../../scss/index.scss";
// Animation
.animation {
  animation: ch-color 0.5s infinite steps(2, end);
  display: inline-block;
}

@keyframes ch-color {
  from {
    fill: #d1caca;
  }
  to {
    fill: #6e6a6a;
  }
}

.bog-entry-page {
  font-size: $fs-base + px;
  font-family: $f-Inter;
  margin-top: 113px;
  position: relative;
  padding: 150px 0;
  @include media("<=desktop") {
    padding: 80px 0px;
  }
  @include media("<=tablet") {
    padding: 50px 0px;
  }
  @include media("<=phone") {
    padding: 30px 0px;
  }

  &__icon-top {
    position: absolute;
    height: 384px;
    width: 264px;
    left: 0px;
    top: 0px;
    @include media("<=screen") {
      height: 320px;
      width: 196px;
    }
    @include media("<=desktop") {
      height: 256px;
      width: 152px;
    }
    @include media("<=tablet") {
      z-index: -2;
    }
    @include media("<=phone") {
      height: 212px;
      width: 108px;
    }
  }

  &__icon-bottom {
    position: absolute;
    height: 384px;
    width: 264px;
    bottom: 0px;
    right: 0px;
    @include media("<=screen") {
      height: 320px;
      width: 196px;
    }
    @include media("<=desktop") {
      height: 256px;
      width: 152px;
    }
    @include media("<=tablet") {
      z-index: -2;
    }
    @include media("<=phone") {
      height: 212px;
      width: 108px;
    }
  }

  &__wrapper {
    box-shadow: 0px 0px 20px 3px #0000003d;
    background: $c-white;
    border-radius: 16px;
    padding: 20px 30px;
    max-width: 590px;
    margin: 0 auto;
    @include media("<=desktop") {
      padding: 10px 15px;
      max-width: 400px;
    }
    @include media("<=tablet") {
      padding: 5px 8px;
      max-width: 250px;
      z-index: 2;
    }
    @include media("<=phone") {
      max-width: 190px;
    }
  }
}
// Content
.bog__header {
  font-size: $fs-subtitle + px;
  justify-content: center;
  align-items: center;
  display: flex;
  @include media("<=tablet") {
    font-size: 18px;
  }
  @include media("<=phone") {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    font-family: $f-Lobster;
  }
}
// Form
// Input
.bog-form {
  @include media("<=tablet") {
    font-size: 12px;
  }

  &__field-input {
    flex-direction: column;
    position: relative;
    display: flex;
  }

  &__field-input:first-child {
    margin-top: 10px;
    @include media("<=desktop") {
      margin-top: 15px;
    }
    @include media("<=phone") {
      margin-top: 10px;
    }
  }

  &__label {
    margin-bottom: 10px;
    @include media("<=tablet") {
      margin-bottom: 2px;
    }
  }

  &__input {
    border-radius: 4px;
    padding: 0 10px;
    height: 50px;
    width: 100%;
    @include media("<=tablet") {
      height: 30px;
      margin-bottom: 15px;
    }
  }

  &__input:hover {
    background-color: #0000003d;
    color: $c-black;
  }

  &__input:focus {
    box-shadow: 0px 0px 20px 3px #0000003d;
    border: 1px solid $c-black;
  }

  &__input::selection {
    background-color: $c-gray;
  }

  &__field-input__error {
    position: absolute;
    color: #d82a2a;
    bottom: 5px;
    right: 0px;
    @include media("<=tablet") {
      bottom: 0px;
    }
    @include media("<=phone") {
      left: 0px;
    }
  }

  &__field-input--flex {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    @include media("<=tablet") {
      margin-bottom: 2px;
    }
  }
  // Checkbox
  &__checkbox {
    align-items: center;
    display: flex;

    &__label {
      margin-right: 10px;
    }

    &__label &__switch {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 25%/50%;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      position: relative;
      background: #eee;
      transition: 0.2s;
      height: 28px;
      width: 56px;
      @include media("<=tablet") {
        height: 14px;
        width: 28px;
      }
    }

    &__label &__switch::before {
      content: "";
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      background: white;
      transition: 0.15s;
      height: 24px;
      width: 24px;
      top: 1px;
      left: 1px;
      @include media("<=tablet") {
        top: 0px;
        left: 0px;
        height: 11px;
        width: 11px;
      }
    }

    &__label input[type="checkbox"] {
      position: absolute;
      display: block;
      z-index: -1;
      height: 0;
      width: 0;
    }

    &__label input[type="checkbox"]:checked + &__switch {
      background: rgba(1, 1, 1);
    }

    &__label input[type="checkbox"]:checked + &__switch::before {
      transform: translateX(28px);
      @include media("<=tablet") {
        transform: translateX(14px);
      }
    }

    &__text {
      display: flex;
      align-items: center;
    }
  }
  // Button
  &__button {
    justify-content: center;
    font-size: $fs-base + px;
    margin-top: 15px;
    display: flex;
    height: 50px;
    @include media("<=tablet") {
      height: 30px;
      margin-top: 10px;
      font-size: 12px;
    }
    @include media("<=phone") {
      margin-top: 5px;
    }
  }

  &__button-wrapper {
    background-color: $c-black;
    color: $c-white;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    width: 530px;
  }
  // Registration-link

  &__registration-link {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    @include media("<=tablet") {
      margin-top: 10px;
    }
    @include media("<=phone") {
      margin-top: 5px;
    }
  }

  &__registration-link__question {
    margin-right: 5px;
  }
}
