// карточки
.Les-recipe {
  display: block
  ;
  width: 100%;
  padding-top: 32px;

  // обгортка заголовка
  &__text {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    // заголовок
    &__title {
      font-family: Inter, sans-serif;
      font-weight: 600;
      font-size: 36px;
    }
  }
  // обгортка блоку з карточками
  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 20px;

    @media (max-width: 1365px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
    @media (max-width: 686px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
