//- * EvgenSubscribe

mixin EvgenSubscribe()
  //- Subscribe section
  section.evg-subscribe
    .container
      .evg-subscribe__wrapper
        //- Text block
        .evg-subscribe__block-text
          h2.evg-subscribe__title Deliciousness to your inbox
          .evg-subscribe__text Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim
        //- Image-button block
        .evg-subscribe__block-img-btn
          //- Image salad block
          .evg-subscribe__img-salad
            img(src="./assets/img/img-EvgenSubscribe/salad.png" alt="foto")
          //- Input-button block
          .evg-subscribe__inp-btn
            input.evg-subscribe__inp(type="text" placeholder="Your email address...")
            div.simptip-position-top( data-tooltip="Click here")
              button.evg-subscribe__btn(type="button")
                span Subscribe
          //- Image salad-egg
          .evg-subscribe__img-salad-egg
            img(src="./assets/img/img-EvgenSubscribe/salad-egg.png" alt="foto")

