//- * EvgenSubscribe

mixin EvgenSubscribe()
  //- Subscribe section
  section.evg-subscribe
    .container
      .evg-subscribe__wrapper
        //- Text block
        .evg-subscribe__block-text
          //- Title
          h2.evg-subscribe__title Deliciousness to your inbox
          //- Text
          .evg-subscribe__text 
            //- Simptip
            span.simptip-position-bottom(data-tooltip="Text Subscribe section") Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim
        //- Image salad
        .evg-subscribe__img-salad
          img(src="./assets/img/img-EvgenSubscribe/salad.png" alt="foto")
        //- Image salad-egg
        .evg-subscribe__img-salad-egg
          img(src="./assets/img/img-EvgenSubscribe/salad-egg.png" alt="foto")
          //- Input-button block
        .evg-subscribe__input-button
          //- Input
          input.evg-subscribe__input(type="text" placeholder="Your email address...")
          //- Button
          button.evg-subscribe__button(type="button")
            span Subscribe        