//- * EvgenFooter

mixin EvgenFooter()
  //- Footer block
  footer.evg-footer
    .container
      //- Wrapper
      .evg-footer__wrapper
        //- Logo-link block
        .evg-footer__logo-link
          //- Logo block
          .evg-footer__logo
            //- Foodieland logo
            .evg-footer__logo-foodieland
              +logo( {text:"Foodieland"} )
            //- Text
            .evg-footer__logo-text Lorem ipsum dolor sit amet, consectetuipisicing elit,
          //- Link block
          .evg-footer__link
            //- Link
            a(href="#").evg-footer__link-item
              //- Simptip
              span.simptip-position-top(data-tooltip="Click on Recipes") Recipes
            //- Link
            a(href="#").evg-footer__link-item
              //- Simptip
              span.simptip-position-top(data-tooltip="Click on Blog") Blog
            //- Link
            a(href="#").evg-footer__link-item
              //- Simptip
              span.simptip-position-top(data-tooltip="Click on Contact") Contact
            //- Link
            a(href="#").evg-footer__link-item
              //- Simptip
              span.simptip-position-top(data-tooltip="Click on About us") About us
        //- Line
        hr.evg-footer__line     
        //- Text-icon block
        .evg-footer__text-icon
          //- Text
          .evg-footer__text © 2020 Flowbase. Powered by 
            span.evg-footer__text-color Webflow
          //- Icon
          .evg-footer__icon
            //- Facebook
            svg.evg-footer__icon-Facebook
              a(href="#") 
                use(xlink:href="#icon-Facebook")
            //- Twitter
            svg.evg-footer__icon-twitter
              a(href="#") 
                use(xlink:href="#icon-twitter")
            //- Instagram
            svg.evg-footer__icon-instagram
              a(href="#")
                use(xlink:href="#icon-instagram")   
