mixin timer()
    .dim-icon__wrap
        <svg class="dim-icon"><use xlink:href="#icon-Timer"></use></svg>
mixin fork-knife()
    .dim-icon__wrap
        <svg class="dim-icon"><use xlink:href="#icon-ForkKnife"></use></svg>

mixin heart()
    .dim-button__heart
        label.dim-check
            input#favorite-1.dim-check__input(checked='' type='checkbox')
            <svg class="icon dim-check__icon"><use xlink:href="#icon-Heart"></use></svg>

