.Lcheck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: $c-white;

  &__icon {
    color: $c-silver;
  }

  &__input {
    display: none;
    &:checked {
      & ~ .icon {
        color: $c-red !important;
      }
    }
  }
}