// EvgenFooter

// Footer block
.evg-footer {
  background-color: $c-white;
  width: 100%;
  bottom: 0;
  left: 0;

  // Wrapper
  &__wrapper {
    flex-direction: column;
    display: flex;
    padding: 10px;
  }

  // Logo-link block
  &__logo-link {
    justify-content: space-between;
    
    display: flex;
  }

  
  // Foodieland logo
  &__logo-foodieland {
    font-size: 24px;

    // Media
    @include media("<=desktop") {
      font-size: 18px;
    }
    @include media("<=tablet") {
      font-size: 14px;
    }
    @include media("<=phone") {
      font-size: 12px;
    }
  }
  // Text
  &__logo-text {
    color: $c-text-footer;
    margin-top: 10px;
    max-width: 290px;
    // padding: 5px;

    // Media
    @include media("<=desktop") {
      margin-top: 5px;
      // font-size: 14px;
      // width: 300px;
    }
    @include media("<=tablet") {
      margin-top: 0;
      // font-size: 10px;
      // width: 160px;
    }
    
  }
  // Link
  &__link {
    align-self: center;
    padding: 5px;
    

    // Media
    @include media("<=tablet") {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
    }
    @include media("<=phone") {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2px;
    }
  }
  &__link-item {
    margin-right: 60px;
    color: $c-black;
    padding: 5px;

    // Media
    @include media("<=desktop") {
      margin-right: 13px;
      
      // font-size: 14px;
    }
    @include media("<=tablet") {
      margin-right: 0;
      // font-size: 10px;
    }
    
  }
  &__link-item:last-child {
    margin-right: 0px;
  }
  // Line
  &__line {
    color: $c-text-footer;

    // Media
    @include media("<=desktop") {
      margin-top: 13px;
      margin-bottom: 13px;
    }
    @include media("<=tablet") {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    @include media("<=phone") {
      margin-top: 7px;
      margin-bottom: 7px;
    }
  }

  // Text-icon block
  &__text-icon {
    display: flex;
    justify-content: space-between;
    
  }
  // Text
  &__text {
    align-self: center;
    margin: auto;
    font-size: $fs-text-footer;
    color: $c-text-footer;

    // // Media
    @include media("<=desktop") {
      font-size: 16px;
      margin: 0;
    }
    // @include media("<=tablet") {
    //   font-size: 10px;
    // }
    @include media("<=phone") {
      max-width: 210px;
    }
  }
  // Orange text
  &__text-color {
    color: $c-orange;
  }
  
  // Icon block
  &__icon-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  &__icon-Facebook,
  &__icon-twitter,
  &__icon-instagram {
    color: $c-black;
  }
  &__icon-Facebook,
  &__icon-twitter {
    margin-right: 30px;

    // Media
    @include media("<=desktop") {
      margin-right: 20px;
    }
    @include media("<=tablet") {
      margin-right: 10px;
    }
    @include media("<=phone") {
      margin-right: 5px;
    }
  }
}

