.vad-header {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  background-color: $c-white;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  &__wrapper {
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
    padding-top: 40px;
    display: flex;
    width: 100%;
  }

  &__block {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    @include media("<=tablet") {
      width: auto;
      flex-direction: row-reverse;
    }
  }

  &__burger {
    @include media("<=tablet") {
      position: relative;
      margin-left: 20px;
      cursor: pointer;
      display: block;
      height: 14px;
      width: 24px;
      z-index: 5;
      & span,
      &::before,
      &::after {
        transition: all 0.3s ease 0s;
        background-color: $c-black;
        position: absolute;
        height: 10%;
        width: 100%;
        left: 0;
      }
      &::before,
      &::after {
        content: "";
      }
      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &._active span {
        transform: scale(0) translate(0px, -50%);
      }

      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }
      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }
    }
    @include media("<=phone") {
      margin-left: 5px;
    }
  }

  &__btn {
    position: relative;
    margin-left: 5px;
    z-index: 10;
    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    color: $c-white;
    &:hover {
      color: $c-white;
    }
  }
}

.logo {
  font-size: $fs-subtitle;
  font-family: $f-Lobster;
  position: relative;
  z-index: 10;
  & a {
    color: $c-black;
    padding: 5px;
    &::after {
      content: ".";
      color: $c-orange;
    }
  }
}
.navigation {
  @include media("<=tablet") {
    background-color: rgba($color: #56b6bb, $alpha: 0.95);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;

    &._active {
      left: 0;
    }

    &::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 114px;
      background-color: $c-white;
      z-index: 2;
    }

    &__list {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__list > li {
      margin: 0 auto 30px auto;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-bottom: 0;
        margin-right: auto;
      }
    }

    &__link {
      font-size: 30px;
      color: $c-white;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-weight: 500;
    padding: 3px;
    color: $c-black;
  }
}
.list-item {
  margin-left: 54px;
  &:first-child {
    margin-left: 0;
  }
  @include media("<=desktop") {
    margin-left: 40px;
  }
}
